body {
    margin: 0;
    background-color: #F1F2F4;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.page-header {
    background-color: #fff;
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 67px;
}

main {
    height: calc(100vh - (67px + 222px));
}

.page-footer {
    display: flex;
flex-direction: column;
justify-content: space-evenly;
    color:#fff;
    height: 222px;
    background-color: #151C22;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li:nth-child(2),
ul li:nth-child(3),
ul li:nth-child(4),
ul li:nth-child(5) {
    margin-left: 30px;
}

img {
    display: block;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row-top, .row-middle, .row-bottom {

display: flex;
justify-content: center;

}
section .row-top,
section .row-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    padding: 50px 0;
}

h2,h3 {
    margin: 0;
}

h3 {
    margin-top: 10px;
}

section .row-bottom {
    margin-top: 20px;
}